body{
    padding: 70px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    background-color: aquamarine;
    padding: 3px;
}
.pizza{
    background-color: red;
    padding: 5px;
    width: 300px;
}
.precio{
    padding: 7px;
    background-color: green;
    width: 200px;
}
.error{
    background-color: blue;
    color: aliceblue;
    padding: 5px;
    width: 700px;
}
.container {
    display: flex;
    gap: 30px;
    text-align: center;
}